# Module 3 In-Class Exercises: Data Cleaning

#### We will be using labdata.cvs for this in-class exercise.
#### Import labdata.csv to a data frame named lab. The .csv file can be downloaded from Canvas.

In [1]:
#first thing to do is import the following packages

import pandas as pd

#next thing to do is import data set labdata.csv


#when reading file path, make sure to change '\' to '/'.
#backslash is a special character in python, but forwardslash isnt, its safe to switch them here
lab = pd.read_csv("C:/Users/emchege/Desktop/Module 3/labdata.csv")

print(lab)
#we put two spaces in between each print request to make it easier to read
print('\n\n', lab.dtypes)
print('\n\n', lab.count())

   subjectid  treatment  control gender   age    income      program_status
0      "101"        7.2     12.5      M  19.0   $5,000   undergraduate-full
1      "102"        8.2     14.6      F   NaN  $20,000        graduate-part
2      "103"        6.2      8.9      M  21.0  $16,000        graduate-full
3      "103"        6.2      8.9      M  21.0  $16,000        graduate-full
4      "104"        3.8      6.0      M  24.0  $13,000        graduate-full
5      "105"        7.0     11.3      F  22.0   $9,000   undergraduate-part
6      "106"        8.0     14.0      M   NaN   $7,000   undergraduate-full
7      "107"        9.2     15.6      F  23.0     $500   undergraduate-full
8      "107"        9.2     15.6      F  23.0     $500   undergraduate-full
9      "108"        NaN      NaN      F  21.0  $20,000   undergraduate-part
10     "109"        4.5      8.3      M  20.0  $15,000   undergraduate-part
11     "110"        8.5     11.5      F  20.0   $8,000   undergraduate-full
12     "111"        6.0      9.2      M  22.0   $6,000   undergraduate-full
13     "112"        9.0     18.2      F  26.0  $55,000        graduate-part
14     "113"        NaN      NaN    NaN   NaN       NaN                 NaN
15     "114"       12.0     20.0    NaN  22.0       NaN                 NaN


 subjectid          object
treatment         float64
control           float64
gender             object
age               float64
income             object
program_status     object
dtype: object


 subjectid         16
treatment         14
control           14
gender            14
age               13
income            14
program_status    14
dtype: int64

In [2]:
## Take a look at the data and come up with some data cleaning strategies

#Looking at the data there are a few things to fix
# 1) duplicate rows: subject ID's 103 & 107
# 2) make subject id and income numeric
# 3) splt program_status column int two separate columns: program and status
# 4) restructure treatment and control as values of new column "condition" 
#    and values of these two columns under new column named "score"
# 5) handle missing values
# 6) create dummy variables for categorical data
# 7) standardizng (normalizing) data

In [3]:
# 1) duplicated rows: 103 & 107

print(lab.duplicated())
#the duplicated function returns true if the row is a dulicate of another. 
#the drop_duplicates function removes them from the dataframe. it drops the 2nd row that's duplicated, not the first.

lab = lab.drop_duplicates()

print(lab)

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
dtype: bool
   subjectid  treatment  control gender   age    income      program_status
0      "101"        7.2     12.5      M  19.0   $5,000   undergraduate-full
1      "102"        8.2     14.6      F   NaN  $20,000        graduate-part
2      "103"        6.2      8.9      M  21.0  $16,000        graduate-full
4      "104"        3.8      6.0      M  24.0  $13,000        graduate-full
5      "105"        7.0     11.3      F  22.0   $9,000   undergraduate-part
6      "106"        8.0     14.0      M   NaN   $7,000   undergraduate-full
7      "107"        9.2     15.6      F  23.0     $500   undergraduate-full
9      "108"        NaN      NaN      F  21.0  $20,000   undergraduate-part
10     "109"        4.5      8.3      M  20.0  $15,000   undergraduate-part
11     "110"        8.5     11.5      F  20.0   $8,000   undergraduate-full
12     "111"        6.0      9.2      M  22.0   $6,000   undergraduate-full
13     "112"        9.0     18.2      F  26.0  $55,000        graduate-part
14     "113"        NaN      NaN    NaN   NaN       NaN                 NaN
15     "114"       12.0     20.0    NaN  22.0       NaN                 NaN

In [4]:
# 2) make "subject id" and income numeric

#numpy is a python library that deals with large multi-dimensional arrays

import numpy as np

# the to_numeric method will take the replace method as a parameter. this tells it to replace all quotation marks with an empty and treat the string that we're editing as a regular expression
# 1st we remove the quotation marks while making the result a regular expression. 2nd we turn that result into a number. 3rd we save it as lab.subject
lab.subjectid = pd.to_numeric(lab.subjectid.replace('\"','', regex = True))

print(lab)
#we put two spaces in between each print request to make it easier to read
print('\n\n', lab.subjectid.dtypes)

    subjectid  treatment  control gender   age    income      program_status
0         101        7.2     12.5      M  19.0   $5,000   undergraduate-full
1         102        8.2     14.6      F   NaN  $20,000        graduate-part
2         103        6.2      8.9      M  21.0  $16,000        graduate-full
4         104        3.8      6.0      M  24.0  $13,000        graduate-full
5         105        7.0     11.3      F  22.0   $9,000   undergraduate-part
6         106        8.0     14.0      M   NaN   $7,000   undergraduate-full
7         107        9.2     15.6      F  23.0     $500   undergraduate-full
9         108        NaN      NaN      F  21.0  $20,000   undergraduate-part
10        109        4.5      8.3      M  20.0  $15,000   undergraduate-part
11        110        8.5     11.5      F  20.0   $8,000   undergraduate-full
12        111        6.0      9.2      M  22.0   $6,000   undergraduate-full
13        112        9.0     18.2      F  26.0  $55,000        graduate-part
14        113        NaN      NaN    NaN   NaN       NaN                 NaN
15        114       12.0     20.0    NaN  22.0       NaN                 NaN


 int64

In [5]:
# 2) make subject id and "income" numeric

#this is the same as above, but written with more steps to help explain
lab.income = lab.income.replace('\$','', regex = True)

#we only put the '\' before the '$' because '$' is a special character, ',' is not so no '\'
lab.income = lab.income.replace(',','', regex = True)

lab.income = pd.to_numeric(lab.income)

print(lab)
print("\n\n", lab.income.dtypes)

    subjectid  treatment  control gender   age   income      program_status
0         101        7.2     12.5      M  19.0   5000.0  undergraduate-full
1         102        8.2     14.6      F   NaN  20000.0       graduate-part
2         103        6.2      8.9      M  21.0  16000.0       graduate-full
4         104        3.8      6.0      M  24.0  13000.0       graduate-full
5         105        7.0     11.3      F  22.0   9000.0  undergraduate-part
6         106        8.0     14.0      M   NaN   7000.0  undergraduate-full
7         107        9.2     15.6      F  23.0    500.0  undergraduate-full
9         108        NaN      NaN      F  21.0  20000.0  undergraduate-part
10        109        4.5      8.3      M  20.0  15000.0  undergraduate-part
11        110        8.5     11.5      F  20.0   8000.0  undergraduate-full
12        111        6.0      9.2      M  22.0   6000.0  undergraduate-full
13        112        9.0     18.2      F  26.0  55000.0       graduate-part
14        113        NaN      NaN    NaN   NaN      NaN                 NaN
15        114       12.0     20.0    NaN  22.0      NaN                 NaN


 float64

In [6]:
# 3) spilt program_status column int two separate columns: program and status

ps_split = lab.program_status.str.split("-")

print(ps_split)

#we split the program status column into two columns, the program and status. 

lab["program"]=ps_split.str.get(0)
lab["status"]=ps_split.str.get(1)

print("\n", lab)

print("\n", lab.dtypes)

0     [undergraduate, full]
1          [graduate, part]
2          [graduate, full]
4          [graduate, full]
5     [undergraduate, part]
6     [undergraduate, full]
7     [undergraduate, full]
9     [undergraduate, part]
10    [undergraduate, part]
11    [undergraduate, full]
12    [undergraduate, full]
13         [graduate, part]
14                      NaN
15                      NaN
Name: program_status, dtype: object

     subjectid  treatment  control gender   age   income      program_status  \
0         101        7.2     12.5      M  19.0   5000.0  undergraduate-full
1         102        8.2     14.6      F   NaN  20000.0       graduate-part
2         103        6.2      8.9      M  21.0  16000.0       graduate-full
4         104        3.8      6.0      M  24.0  13000.0       graduate-full
5         105        7.0     11.3      F  22.0   9000.0  undergraduate-part
6         106        8.0     14.0      M   NaN   7000.0  undergraduate-full
7         107        9.2     15.6      F  23.0    500.0  undergraduate-full
9         108        NaN      NaN      F  21.0  20000.0  undergraduate-part
10        109        4.5      8.3      M  20.0  15000.0  undergraduate-part
11        110        8.5     11.5      F  20.0   8000.0  undergraduate-full
12        111        6.0      9.2      M  22.0   6000.0  undergraduate-full
13        112        9.0     18.2      F  26.0  55000.0       graduate-part
14        113        NaN      NaN    NaN   NaN      NaN                 NaN
15        114       12.0     20.0    NaN  22.0      NaN                 NaN

          program status
0   undergraduate   full
1        graduate   part
2        graduate   full
4        graduate   full
5   undergraduate   part
6   undergraduate   full
7   undergraduate   full
9   undergraduate   part
10  undergraduate   part
11  undergraduate   full
12  undergraduate   full
13       graduate   part
14            NaN    NaN
15            NaN    NaN

 subjectid           int64
treatment         float64
control           float64
gender             object
age               float64
income            float64
program_status     object
program            object
status             object
dtype: object

In [7]:
# 4) restructure treatment and control as values of new column "condition" and values of these two columns under new column named "score"

# we're restructuring two vertical columns into horizontal records to observe if there's a relationship between subjects

#id_vars: the columns that you want to preserve
#value_vars: the columns that you want to change to rows
#value_names: new column you want to store the values of the old columns in
#var_name: how you name the old columns that you turned into rows


lab = pd.melt(frame = lab, id_vars=['subjectid','gender','age','income','program','status','program_status'], value_vars = ['treatment','control'],
              value_name="score",var_name="condition")
#the id_vars here means that we wont be changing: 'subjectid','gender','age','income','program','status','program_status'
#the value_vars means we will be changing the 'treatment' &'control'
#value_name will store the old numbers in the new row: score
#var_name will store the names of the two variables as rows, which correspond to the values in "score". They went from column names to rows.

              
print(lab)
#with treatment scores and control scores in the same columns and labeled properly, we can now compare the two more easily


###Pandas dataframe.melt() function unpivots a DataFrame from wide format to long format, optionally leaving identifier variables set. 
##This function is useful to message a DataFrame into a format where one or more columns are identifier variables (id_vars), while all other columns,
#considered measured variables (value_vars), are “unpivoted” to the row axis, leaving just two non-identifier columns, ‘variable’ and ‘value’.

    subjectid gender   age   income        program status      program_status  \
0         101      M  19.0   5000.0  undergraduate   full  undergraduate-full
1         102      F   NaN  20000.0       graduate   part       graduate-part
2         103      M  21.0  16000.0       graduate   full       graduate-full
3         104      M  24.0  13000.0       graduate   full       graduate-full
4         105      F  22.0   9000.0  undergraduate   part  undergraduate-part
5         106      M   NaN   7000.0  undergraduate   full  undergraduate-full
6         107      F  23.0    500.0  undergraduate   full  undergraduate-full
7         108      F  21.0  20000.0  undergraduate   part  undergraduate-part
8         109      M  20.0  15000.0  undergraduate   part  undergraduate-part
9         110      F  20.0   8000.0  undergraduate   full  undergraduate-full
10        111      M  22.0   6000.0  undergraduate   full  undergraduate-full
11        112      F  26.0  55000.0       graduate   part       graduate-part
12        113    NaN   NaN      NaN            NaN    NaN                 NaN
13        114    NaN  22.0      NaN            NaN    NaN                 NaN
14        101      M  19.0   5000.0  undergraduate   full  undergraduate-full
15        102      F   NaN  20000.0       graduate   part       graduate-part
16        103      M  21.0  16000.0       graduate   full       graduate-full
17        104      M  24.0  13000.0       graduate   full       graduate-full
18        105      F  22.0   9000.0  undergraduate   part  undergraduate-part
19        106      M   NaN   7000.0  undergraduate   full  undergraduate-full
20        107      F  23.0    500.0  undergraduate   full  undergraduate-full
21        108      F  21.0  20000.0  undergraduate   part  undergraduate-part
22        109      M  20.0  15000.0  undergraduate   part  undergraduate-part
23        110      F  20.0   8000.0  undergraduate   full  undergraduate-full
24        111      M  22.0   6000.0  undergraduate   full  undergraduate-full
25        112      F  26.0  55000.0       graduate   part       graduate-part
26        113    NaN   NaN      NaN            NaN    NaN                 NaN
27        114    NaN  22.0      NaN            NaN    NaN                 NaN

    condition  score
0   treatment    7.2
1   treatment    8.2
2   treatment    6.2
3   treatment    3.8
4   treatment    7.0
5   treatment    8.0
6   treatment    9.2
7   treatment    NaN
8   treatment    4.5
9   treatment    8.5
10  treatment    6.0
11  treatment    9.0
12  treatment    NaN
13  treatment   12.0
14    control   12.5
15    control   14.6
16    control    8.9
17    control    6.0
18    control   11.3
19    control   14.0
20    control   15.6
21    control    NaN
22    control    8.3
23    control   11.5
24    control    9.2
25    control   18.2
26    control    NaN
27    control   20.0

In [8]:
# 5) handle missing values

#we can't compare treatment and control if the values are missing ("the ones that dipsplay NaN")
#so we'll drop the missing ones in the score column with the .dropna function
lab = lab.dropna(subset=['score'])

print(lab.count())
print("\n",lab)

subjectid         24
gender            22
age               20
income            22
program           22
status            22
program_status    22
condition         24
score             24
dtype: int64

     subjectid gender   age   income        program status      program_status  \
0         101      M  19.0   5000.0  undergraduate   full  undergraduate-full
1         102      F   NaN  20000.0       graduate   part       graduate-part
2         103      M  21.0  16000.0       graduate   full       graduate-full
3         104      M  24.0  13000.0       graduate   full       graduate-full
4         105      F  22.0   9000.0  undergraduate   part  undergraduate-part
5         106      M   NaN   7000.0  undergraduate   full  undergraduate-full
6         107      F  23.0    500.0  undergraduate   full  undergraduate-full
8         109      M  20.0  15000.0  undergraduate   part  undergraduate-part
9         110      F  20.0   8000.0  undergraduate   full  undergraduate-full
10        111      M  22.0   6000.0  undergraduate   full  undergraduate-full
11        112      F  26.0  55000.0       graduate   part       graduate-part
13        114    NaN  22.0      NaN            NaN    NaN                 NaN
14        101      M  19.0   5000.0  undergraduate   full  undergraduate-full
15        102      F   NaN  20000.0       graduate   part       graduate-part
16        103      M  21.0  16000.0       graduate   full       graduate-full
17        104      M  24.0  13000.0       graduate   full       graduate-full
18        105      F  22.0   9000.0  undergraduate   part  undergraduate-part
19        106      M   NaN   7000.0  undergraduate   full  undergraduate-full
20        107      F  23.0    500.0  undergraduate   full  undergraduate-full
22        109      M  20.0  15000.0  undergraduate   part  undergraduate-part
23        110      F  20.0   8000.0  undergraduate   full  undergraduate-full
24        111      M  22.0   6000.0  undergraduate   full  undergraduate-full
25        112      F  26.0  55000.0       graduate   part       graduate-part
27        114    NaN  22.0      NaN            NaN    NaN                 NaN

    condition  score
0   treatment    7.2
1   treatment    8.2
2   treatment    6.2
3   treatment    3.8
4   treatment    7.0
5   treatment    8.0
6   treatment    9.2
8   treatment    4.5
9   treatment    8.5
10  treatment    6.0
11  treatment    9.0
13  treatment   12.0
14    control   12.5
15    control   14.6
16    control    8.9
17    control    6.0
18    control   11.3
19    control   14.0
20    control   15.6
22    control    8.3
23    control   11.5
24    control    9.2
25    control   18.2
27    control   20.0

In [9]:
# 5) handle missing values

#sometimes we can make a knowledgable guess about missing data. Age is between 19 and 26 so we can enter the mean of all ages for the missing age values

lab = lab.fillna(value={"age":lab.age.mean()})

print(lab.count())
print("\n",lab)

subjectid         24
gender            22
age               24
income            22
program           22
status            22
program_status    22
condition         24
score             24
dtype: int64

     subjectid gender   age   income        program status      program_status  \
0         101      M  19.0   5000.0  undergraduate   full  undergraduate-full
1         102      F  21.9  20000.0       graduate   part       graduate-part
2         103      M  21.0  16000.0       graduate   full       graduate-full
3         104      M  24.0  13000.0       graduate   full       graduate-full
4         105      F  22.0   9000.0  undergraduate   part  undergraduate-part
5         106      M  21.9   7000.0  undergraduate   full  undergraduate-full
6         107      F  23.0    500.0  undergraduate   full  undergraduate-full
8         109      M  20.0  15000.0  undergraduate   part  undergraduate-part
9         110      F  20.0   8000.0  undergraduate   full  undergraduate-full
10        111      M  22.0   6000.0  undergraduate   full  undergraduate-full
11        112      F  26.0  55000.0       graduate   part       graduate-part
13        114    NaN  22.0      NaN            NaN    NaN                 NaN
14        101      M  19.0   5000.0  undergraduate   full  undergraduate-full
15        102      F  21.9  20000.0       graduate   part       graduate-part
16        103      M  21.0  16000.0       graduate   full       graduate-full
17        104      M  24.0  13000.0       graduate   full       graduate-full
18        105      F  22.0   9000.0  undergraduate   part  undergraduate-part
19        106      M  21.9   7000.0  undergraduate   full  undergraduate-full
20        107      F  23.0    500.0  undergraduate   full  undergraduate-full
22        109      M  20.0  15000.0  undergraduate   part  undergraduate-part
23        110      F  20.0   8000.0  undergraduate   full  undergraduate-full
24        111      M  22.0   6000.0  undergraduate   full  undergraduate-full
25        112      F  26.0  55000.0       graduate   part       graduate-part
27        114    NaN  22.0      NaN            NaN    NaN                 NaN

    condition  score
0   treatment    7.2
1   treatment    8.2
2   treatment    6.2
3   treatment    3.8
4   treatment    7.0
5   treatment    8.0
6   treatment    9.2
8   treatment    4.5
9   treatment    8.5
10  treatment    6.0
11  treatment    9.0
13  treatment   12.0
14    control   12.5
15    control   14.6
16    control    8.9
17    control    6.0
18    control   11.3
19    control   14.0
20    control   15.6
22    control    8.3
23    control   11.5
24    control    9.2
25    control   18.2
27    control   20.0

In [10]:
# 5) handle missing values

#sometimes we're missing too much to make an assumption, we can safely drop the entire row 

lab=lab.dropna(thresh=len(lab.columns)-2)
#measuring how many colums we have, if we're missing enough values in one row, we can drop the row

print(lab.count())
print("\n",lab)

subjectid         22
gender            22
age               22
income            22
program           22
status            22
program_status    22
condition         22
score             22
dtype: int64

     subjectid gender   age   income        program status      program_status  \
0         101      M  19.0   5000.0  undergraduate   full  undergraduate-full
1         102      F  21.9  20000.0       graduate   part       graduate-part
2         103      M  21.0  16000.0       graduate   full       graduate-full
3         104      M  24.0  13000.0       graduate   full       graduate-full
4         105      F  22.0   9000.0  undergraduate   part  undergraduate-part
5         106      M  21.9   7000.0  undergraduate   full  undergraduate-full
6         107      F  23.0    500.0  undergraduate   full  undergraduate-full
8         109      M  20.0  15000.0  undergraduate   part  undergraduate-part
9         110      F  20.0   8000.0  undergraduate   full  undergraduate-full
10        111      M  22.0   6000.0  undergraduate   full  undergraduate-full
11        112      F  26.0  55000.0       graduate   part       graduate-part
14        101      M  19.0   5000.0  undergraduate   full  undergraduate-full
15        102      F  21.9  20000.0       graduate   part       graduate-part
16        103      M  21.0  16000.0       graduate   full       graduate-full
17        104      M  24.0  13000.0       graduate   full       graduate-full
18        105      F  22.0   9000.0  undergraduate   part  undergraduate-part
19        106      M  21.9   7000.0  undergraduate   full  undergraduate-full
20        107      F  23.0    500.0  undergraduate   full  undergraduate-full
22        109      M  20.0  15000.0  undergraduate   part  undergraduate-part
23        110      F  20.0   8000.0  undergraduate   full  undergraduate-full
24        111      M  22.0   6000.0  undergraduate   full  undergraduate-full
25        112      F  26.0  55000.0       graduate   part       graduate-part

    condition  score
0   treatment    7.2
1   treatment    8.2
2   treatment    6.2
3   treatment    3.8
4   treatment    7.0
5   treatment    8.0
6   treatment    9.2
8   treatment    4.5
9   treatment    8.5
10  treatment    6.0
11  treatment    9.0
14    control   12.5
15    control   14.6
16    control    8.9
17    control    6.0
18    control   11.3
19    control   14.0
20    control   15.6
22    control    8.3
23    control   11.5
24    control    9.2
25    control   18.2

In [11]:
#after all of these changes we can clean up the indexes so it doesn't skip numbers

lab = lab.reset_index()

print(lab)

    index  subjectid gender   age   income        program status  \
0       0        101      M  19.0   5000.0  undergraduate   full
1       1        102      F  21.9  20000.0       graduate   part
2       2        103      M  21.0  16000.0       graduate   full
3       3        104      M  24.0  13000.0       graduate   full
4       4        105      F  22.0   9000.0  undergraduate   part
5       5        106      M  21.9   7000.0  undergraduate   full
6       6        107      F  23.0    500.0  undergraduate   full
7       8        109      M  20.0  15000.0  undergraduate   part
8       9        110      F  20.0   8000.0  undergraduate   full
9      10        111      M  22.0   6000.0  undergraduate   full
10     11        112      F  26.0  55000.0       graduate   part
11     14        101      M  19.0   5000.0  undergraduate   full
12     15        102      F  21.9  20000.0       graduate   part
13     16        103      M  21.0  16000.0       graduate   full
14     17        104      M  24.0  13000.0       graduate   full
15     18        105      F  22.0   9000.0  undergraduate   part
16     19        106      M  21.9   7000.0  undergraduate   full
17     20        107      F  23.0    500.0  undergraduate   full
18     22        109      M  20.0  15000.0  undergraduate   part
19     23        110      F  20.0   8000.0  undergraduate   full
20     24        111      M  22.0   6000.0  undergraduate   full
21     25        112      F  26.0  55000.0       graduate   part

        program_status  condition  score
0   undergraduate-full  treatment    7.2
1        graduate-part  treatment    8.2
2        graduate-full  treatment    6.2
3        graduate-full  treatment    3.8
4   undergraduate-part  treatment    7.0
5   undergraduate-full  treatment    8.0
6   undergraduate-full  treatment    9.2
7   undergraduate-part  treatment    4.5
8   undergraduate-full  treatment    8.5
9   undergraduate-full  treatment    6.0
10       graduate-part  treatment    9.0
11  undergraduate-full    control   12.5
12       graduate-part    control   14.6
13       graduate-full    control    8.9
14       graduate-full    control    6.0
15  undergraduate-part    control   11.3
16  undergraduate-full    control   14.0
17  undergraduate-full    control   15.6
18  undergraduate-part    control    8.3
19  undergraduate-full    control   11.5
20  undergraduate-full    control    9.2
21       graduate-part    control   18.2

In [12]:
# 6) create dummy variables for categorical data

#we have gender listed as M & F, but that isn't numeric data. 
#a lot of algorithms won't take letters, but instead only take numeric values.
#dummy variables are important for handling non-numeric categorical data


dummy_gender=pd.get_dummies(lab['gender']) 
print(dummy_gender.head(3))


#along with gender there are several other non-numeric types of data that we can create dummy variables for

dummy_program=pd.get_dummies(lab['program'])
print(dummy_program.head(3))


dummy_status=pd.get_dummies(lab['status'])
print(dummy_status.head(3))


dummy_condition=pd.get_dummies(lab['condition'])
print(dummy_condition.head(3))


#we're printing the condition with a .head method attached with a 3 as it's perimeter. We just want to see the 1st 3 of each column & it's header, just to see if it works

#It's bad practice to standardize categorical data. Just create dummy variables and standardize the numerical data.

   F  M
0  0  1
1  1  0
2  0  1
   graduate  undergraduate
0         0              1
1         1              0
2         1              0
   full  part
0     1     0
1     0     1
2     1     0
   control  treatment
0        0          1
1        0          1
2        0          1

In [13]:
# 7) "standardizng" (normalizing) data

#whats the difference between standardized data and normalized data.
#normalized data in alaytics usually means to scale a variable ot have a value between 0 and 1
#standardization usually means to transform the data to have a mean of 0 and a standard deviation of 1. (which is between -1 & +1 with a mean at around 0)
#the number of standard deviations a data point is, away from the mean is called the z-score"

lab_new = lab.drop(columns = ['index', 'subjectid','program_status','gender','condition','program','status']) #we'll 1st make a new datafram with only numercial data

print(lab_new) #the new dataset has only age, income, and score

#Standardizing: panda method ↓

#the formula for standardizing data is:  (numeric value - mean) / std. deviation
lab_norm1 = (lab_new - lab_new.mean()) / lab_new.std()

print(lab_norm1)
#all the data is now standardized to be around either 0, 1, or -1 (some around 2 & -2)

     age   income  score
0   19.0   5000.0    7.2
1   21.9  20000.0    8.2
2   21.0  16000.0    6.2
3   24.0  13000.0    3.8
4   22.0   9000.0    7.0
5   21.9   7000.0    8.0
6   23.0    500.0    9.2
7   20.0  15000.0    4.5
8   20.0   8000.0    8.5
9   22.0   6000.0    6.0
10  26.0  55000.0    9.0
11  19.0   5000.0   12.5
12  21.9  20000.0   14.6
13  21.0  16000.0    8.9
14  24.0  13000.0    6.0
15  22.0   9000.0   11.3
16  21.9   7000.0   14.0
17  23.0    500.0   15.6
18  20.0  15000.0    8.3
19  20.0   8000.0   11.5
20  22.0   6000.0    9.2
21  26.0  55000.0   18.2
         age    income     score
0  -1.502157 -0.630631 -0.606260
1   0.004724  0.415139 -0.335718
2  -0.462929  0.136267 -0.876801
3   1.095913 -0.072887 -1.526102
4   0.056685 -0.351759 -0.660368
5   0.004724 -0.491195 -0.389826
6   0.576299 -0.944362 -0.065176
7  -0.982543  0.066549 -1.336723
8  -0.982543 -0.421477 -0.254555
9   0.056685 -0.560913 -0.930910
10  2.135141  2.855269 -0.119284
11 -1.502157 -0.630631  0.827612
12  0.004724  0.415139  1.395750
13 -0.462929  0.136267 -0.146339
14  1.095913 -0.072887 -0.930910
15  0.056685 -0.351759  0.502962
16  0.004724 -0.491195  1.233425
17  0.576299 -0.944362  1.666292
18 -0.982543  0.066549 -0.308664
19 -0.982543 -0.421477  0.557070
20  0.056685 -0.560913 -0.065176
21  2.135141  2.855269  2.369700

In [14]:
#the following formula will also standardize the data

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

lab_stand2 = pd.DataFrame(scaler.fit_transform(lab_new), index = lab_new.index, columns = lab_new.columns)

print(lab_stand2)

         age    income     score
0  -1.537506 -0.645471 -0.620526
1   0.004835  0.424908 -0.343618
2  -0.473823  0.139474 -0.897435
3   1.121703 -0.074602 -1.562015
4   0.058019 -0.360037 -0.675908
5   0.004835 -0.502754 -0.399000
6   0.589861 -0.966585 -0.066710
7  -1.005664  0.068115 -1.368179
8  -1.005664 -0.431395 -0.260546
9   0.058019 -0.574113 -0.952817
10  2.185386  2.922461 -0.122091
11 -1.537506 -0.645471  0.847088
12  0.004835  0.424908  1.428595
13 -0.473823  0.139474 -0.149782
14  1.121703 -0.074602 -0.952817
15  0.058019 -0.360037  0.514798
16  0.004835 -0.502754  1.262450
17  0.589861 -0.966585  1.705504
18 -1.005664  0.068115 -0.315927
19 -1.005664 -0.431395  0.570180
20  0.058019 -0.574113 -0.066710
21  2.185386  2.922461  2.425466

In [15]:
# 7) standardizng ("normalizing") data

#Normalizing: panda method ↓

lab_norm1 = (lab_new - lab_new.min()) / (lab_new.max() - lab_new.min())

print(lab_norm1)

#the data is now normalized.

         age    income     score
0   0.000000  0.082569  0.236111
1   0.414286  0.357798  0.305556
2   0.285714  0.284404  0.166667
3   0.714286  0.229358  0.000000
4   0.428571  0.155963  0.222222
5   0.414286  0.119266  0.291667
6   0.571429  0.000000  0.375000
7   0.142857  0.266055  0.048611
8   0.142857  0.137615  0.326389
9   0.428571  0.100917  0.152778
10  1.000000  1.000000  0.361111
11  0.000000  0.082569  0.604167
12  0.414286  0.357798  0.750000
13  0.285714  0.284404  0.354167
14  0.714286  0.229358  0.152778
15  0.428571  0.155963  0.520833
16  0.414286  0.119266  0.708333
17  0.571429  0.000000  0.819444
18  0.142857  0.266055  0.312500
19  0.142857  0.137615  0.534722
20  0.428571  0.100917  0.375000
21  1.000000  1.000000  1.000000

In [16]:
#this formula does the same as the formula above
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

lab_norm2 = pd.DataFrame(scaler.fit_transform(lab_new), index = lab_new.index, columns = lab_new.columns)

print(lab_norm2)

         age    income     score
0   0.000000  0.082569  0.236111
1   0.414286  0.357798  0.305556
2   0.285714  0.284404  0.166667
3   0.714286  0.229358  0.000000
4   0.428571  0.155963  0.222222
5   0.414286  0.119266  0.291667
6   0.571429  0.000000  0.375000
7   0.142857  0.266055  0.048611
8   0.142857  0.137615  0.326389
9   0.428571  0.100917  0.152778
10  1.000000  1.000000  0.361111
11  0.000000  0.082569  0.604167
12  0.414286  0.357798  0.750000
13  0.285714  0.284404  0.354167
14  0.714286  0.229358  0.152778
15  0.428571  0.155963  0.520833
16  0.414286  0.119266  0.708333
17  0.571429  0.000000  0.819444
18  0.142857  0.266055  0.312500
19  0.142857  0.137615  0.534722
20  0.428571  0.100917  0.375000
21  1.000000  1.000000  1.000000

In [17]:
#Normalize one single column of the dataframe

from sklearn import preprocessing

#we just want to normalize income in this example
income_array = np.array(lab["income"])
#next we create a dataframe to put the normalized data into.

#The .normalize function only takes arrays(it returns an array (or a row))
#the .transpose method switches columns into rows and rows into columns.

normalized_income = pd.DataFrame(preprocessing.normalize([income_array])).transpose()

normalized_income.columns = ["income_normalized"]
lab = lab.join(normalized_income)

print(lab)
#now there's a new column with the normalized income data

    index  subjectid gender   age   income        program status  \
0       0        101      M  19.0   5000.0  undergraduate   full
1       1        102      F  21.9  20000.0       graduate   part
2       2        103      M  21.0  16000.0       graduate   full
3       3        104      M  24.0  13000.0       graduate   full
4       4        105      F  22.0   9000.0  undergraduate   part
5       5        106      M  21.9   7000.0  undergraduate   full
6       6        107      F  23.0    500.0  undergraduate   full
7       8        109      M  20.0  15000.0  undergraduate   part
8       9        110      F  20.0   8000.0  undergraduate   full
9      10        111      M  22.0   6000.0  undergraduate   full
10     11        112      F  26.0  55000.0       graduate   part
11     14        101      M  19.0   5000.0  undergraduate   full
12     15        102      F  21.9  20000.0       graduate   part
13     16        103      M  21.0  16000.0       graduate   full
14     17        104      M  24.0  13000.0       graduate   full
15     18        105      F  22.0   9000.0  undergraduate   part
16     19        106      M  21.9   7000.0  undergraduate   full
17     20        107      F  23.0    500.0  undergraduate   full
18     22        109      M  20.0  15000.0  undergraduate   part
19     23        110      F  20.0   8000.0  undergraduate   full
20     24        111      M  22.0   6000.0  undergraduate   full
21     25        112      F  26.0  55000.0       graduate   part

        program_status  condition  score  income_normalized
0   undergraduate-full  treatment    7.2           0.053728
1        graduate-part  treatment    8.2           0.214911
2        graduate-full  treatment    6.2           0.171929
3        graduate-full  treatment    3.8           0.139692
4   undergraduate-part  treatment    7.0           0.096710
5   undergraduate-full  treatment    8.0           0.075219
6   undergraduate-full  treatment    9.2           0.005373
7   undergraduate-part  treatment    4.5           0.161183
8   undergraduate-full  treatment    8.5           0.085964
9   undergraduate-full  treatment    6.0           0.064473
10       graduate-part  treatment    9.0           0.591005
11  undergraduate-full    control   12.5           0.053728
12       graduate-part    control   14.6           0.214911
13       graduate-full    control    8.9           0.171929
14       graduate-full    control    6.0           0.139692
15  undergraduate-part    control   11.3           0.096710
16  undergraduate-full    control   14.0           0.075219
17  undergraduate-full    control   15.6           0.005373
18  undergraduate-part    control    8.3           0.161183
19  undergraduate-full    control   11.5           0.085964
20  undergraduate-full    control    9.2           0.064473
21       graduate-part    control   18.2           0.591005

In [18]:
#now we'll combine the normalized/standardized data with the dummy variables to make one final clean dataframe
#we appended lab_norm1 just for the example, we could have appended lab_stand1 instead
#axis = 1 means that you're joining them as columns. if axis = 0, it would mean that your appending as rows
lab_final = pd.concat([lab_norm1, dummy_gender], axis = 1) 
lab_final = pd.concat([lab_final, dummy_status], axis = 1)
lab_final = pd.concat([lab_final, dummy_program], axis = 1)
lab_final = pd.concat([lab_final, dummy_condition], axis = 1)

print(lab_final)

         age    income     score  F  M  full  part  graduate  undergraduate  \
0   0.000000  0.082569  0.236111  0  1     1     0         0              1
1   0.414286  0.357798  0.305556  1  0     0     1         1              0
2   0.285714  0.284404  0.166667  0  1     1     0         1              0
3   0.714286  0.229358  0.000000  0  1     1     0         1              0
4   0.428571  0.155963  0.222222  1  0     0     1         0              1
5   0.414286  0.119266  0.291667  0  1     1     0         0              1
6   0.571429  0.000000  0.375000  1  0     1     0         0              1
7   0.142857  0.266055  0.048611  0  1     0     1         0              1
8   0.142857  0.137615  0.326389  1  0     1     0         0              1
9   0.428571  0.100917  0.152778  0  1     1     0         0              1
10  1.000000  1.000000  0.361111  1  0     0     1         1              0
11  0.000000  0.082569  0.604167  0  1     1     0         0              1
12  0.414286  0.357798  0.750000  1  0     0     1         1              0
13  0.285714  0.284404  0.354167  0  1     1     0         1              0
14  0.714286  0.229358  0.152778  0  1     1     0         1              0
15  0.428571  0.155963  0.520833  1  0     0     1         0              1
16  0.414286  0.119266  0.708333  0  1     1     0         0              1
17  0.571429  0.000000  0.819444  1  0     1     0         0              1
18  0.142857  0.266055  0.312500  0  1     0     1         0              1
19  0.142857  0.137615  0.534722  1  0     1     0         0              1
20  0.428571  0.100917  0.375000  0  1     1     0         0              1
21  1.000000  1.000000  1.000000  1  0     0     1         1              0

    control  treatment
0         0          1
1         0          1
2         0          1
3         0          1
4         0          1
5         0          1
6         0          1
7         0          1
8         0          1
9         0          1
10        0          1
11        1          0
12        1          0
13        1          0
14        1          0
15        1          0
16        1          0
17        1          0
18        1          0
19        1          0
20        1          0
21        1          0