# Module 3 In-Class Exercises: Data Exploration



## Creating DataFrame

1. Create a data frame from the following Age-Household Income table:

          AGE             Income($)
          25                49,000
          56                156,000
          65                99,000
          32                192,000
          41                39,000
          49                57,000

In [1]:
#a data frame is essentially a table
#import required packages - pandas

import pandas as pd

#we'll use pd.DataFrame to create a table. put in the information with the column name
#followed by a colon andits data in a list. both columns separated by a comma
age_income = pd.DataFrame({'Age': [25,56,65,32,41,49], 
                           'Income':[49000,156000,99000,192000,39000,57000]})

print(age_income)
print('\n\n', age_income.dtypes)

   Age  Income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000
5   49   57000


 Age       int64
Income    int64
dtype: object

2. Import income.csv as a data frame. This file can be downloaded from Canvas.

In [2]:
age_income1 = pd.read_csv("C:/Users/erwin/Desktop/MIS536/Module3Datasets/Module 3/income.csv")

print(age_income1)
print('\n\n', age_income1.dtypes)

   Age  Income
0   23  225000
1   56   56000
2   61   77000
3   72  117000
4   28   38000
5   32   78000
6   30   26000
7   66  400000
8   59   87000
9   42   45000


 Age       int64
Income    int64
dtype: object

3. Merge two data frames together.

In [3]:
income_list = []
#the concat function requires that you have a list as it's parameter
#so we make an empty list and append the two dataframes into it, then we concat

income_list.append(age_income)
income_list.append(age_income1)

income = pd.concat(income_list)

print(income)

   Age  Income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000
5   49   57000
0   23  225000
1   56   56000
2   61   77000
3   72  117000
4   28   38000
5   32   78000
6   30   26000
7   66  400000
8   59   87000
9   42   45000

4. Import multiple files and merge them. Merge data from income1-4.csv to the existing data frame income

In [4]:
import glob 

income_paths = glob.glob("C:/Users/erwin/Desktop/MIS536/Module3Datasets/Module 3/income?.csv")

for path in income_paths:
    income_list.append(pd.read_csv(path))
    
income=pd.concat(income_list)

print(income)

   Age  Income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000
5   49   57000
0   23  225000
1   56   56000
2   61   77000
3   72  117000
4   28   38000
5   32   78000
6   30   26000
7   66  400000
8   59   87000
9   42   45000
0   31   85000
1   54  112000
0   60  255000
1   19   15000
0   26   44000
1   52   77000
0   24   40000
1   53   88000
2   62   43000

In [5]:
#.head function returns the first n rows for the object based on position.
# we're using it to separate the first few income columns

print(income.head())

print('\n\n\n', income.head(3))

print('\n\n\nlength of income:', len(income))

   Age  Income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000



    Age  Income
0   25   49000
1   56  156000
2   65   99000



length of income: 25

## Explore the dataset

In [6]:
#dataframe.info method = showing a summary of the table
print(income.info())

#dataframe.shape shows how many rows and how many columns
print('\n\nTable dumensions(rows,columns)', income.shape)

#dataframe.describe = shows staistics of table: mean, min, count, std deviation, etc.
print('\n\nDescribe the table:\n', income.describe())

#dataframe.column_name.mean = shows the mean of the specific column
print('\n\nAge Mean:\n', income.Age.mean())

#dataframe.columns shoes the names of the columns in the dataframe
print('\n\nColumns:\n', income.columns)

#dataframe.value_counts shows the exact number items in a column
print('\n\nValue Count:\n', income.Age.value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     25 non-null     int64
 1   Income  25 non-null     int64
dtypes: int64(2)
memory usage: 600.0 bytes
None


Table dumensions(rows,columns) (25, 2)


Describe the table:
              Age         Income
count  25.000000      25.000000
mean   44.720000  100000.000000
std    16.356752   87422.823107
min    19.000000   15000.000000
25%    30.000000   44000.000000
50%    49.000000   77000.000000
75%    59.000000  112000.000000
max    72.000000  400000.000000


Age Mean:
 44.72


Columns:
 Index(['Age', 'Income'], dtype='object')


Value Count:
 32    2
56    2
25    1
42    1
53    1
24    1
52    1
26    1
19    1
60    1
54    1
31    1
66    1
59    1
30    1
28    1
72    1
61    1
23    1
49    1
41    1
65    1
62    1
Name: Age, dtype: int64

## Data Partitioning

1. Partition data frame income: training (60%) and validation (40%)

In [7]:
from sklearn.model_selection import train_test_split 

#we're splitting the data into two categories train & valid
#we've sectioned data into train and from that we split 40% of it into valid

income_train, income_valid=train_test_split(income, test_size=0.4, random_state=1)

print("\nTraining:", income_train.shape) #show number of rows & columns
print("\n\n\n", income_train) #show entire data set

Training: (15, 2)



    Age  Income
0   26   44000
0   23  225000
1   56   56000
0   24   40000
1   56  156000
0   31   85000
0   25   49000
9   42   45000
2   62   43000
1   53   88000
3   72  117000
2   61   77000
6   30   26000
5   32   78000
5   49   57000

2. Partition data frame income: training (50%), validation (30%), and test(20%)

In [8]:
#50 % of all data is now in training
income_train, temp=train_test_split(income, test_size=0.5, random_state=1) 

#20% of 100 is the same as 40% of 50. So of the amount of data left after
#partitioning half of it for training, we put 40% of that into testing c
income_value, income_test=train_test_split(temp, test_size=0.4, random_state=1)

print("\nTraining:", income_train.shape) 
print("\n\n\n", income_train)

print("\nValidity:", income_valid.shape) #show number of rows & columns
print("\n\n\n", income_valid)

print("\nTesting:", income_test.shape) #show number of rows & columns
print("\n\n\n", income_test)

Training: (12, 2)



    Age  Income
0   24   40000
1   56  156000
0   31   85000
0   25   49000
9   42   45000
2   62   43000
1   53   88000
3   72  117000
2   61   77000
6   30   26000
5   32   78000
5   49   57000

Validity: (10, 2)



    Age  Income
8   59   87000
7   66  400000
1   54  112000
3   32  192000
1   52   77000
4   28   38000
0   60  255000
1   19   15000
4   41   39000
2   65   99000

Testing: (6, 2)



    Age  Income
1   54  112000
3   32  192000
1   52   77000
0   26   44000
7   66  400000
0   60  255000